
.root-container{
    background: #e4e4e4;
    width: 100%;
}
.div-padding{
    padding: 3%;
}
.col-background{
    background: white;
}
// .grid-properties{
//     margin-bottom: 25px;
//     font-size: 75%;
//     padding: 0;
// }
.view-button{
    background: lightgray;
    color: black;
    border-radius: 50px;
    line-height: 2;
    font-weight: 100;
}
.arrow-icon{
    background: black;
    color: white;
    border-radius: 100px;
}
.applicant-desc{
    font-size: 80%;
    color: gray;
}
.applicant-head{
    font-size: 125%;
    margin-bottom: 0px;
    font-weight: bold;
}
.notification-badge{
    background: #FE645B;
    padding: 1px 8px;
    border-radius: 50px;
    color: white;
    margin-left: 10px;
}

.search-icon{
    font-size: 100%;
    vertical-align: top;
}
.round-corner{
    border-radius: 50px;;
}

.example-full-width {
    width: 100%;
}
.example-form {
    width: 100%;
    padding: 0px 4%;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white !important;
}

.box-margin{
    margin-top: -8%;
}

.grid-col-border{
    border-radius: 10px;
    background: white;
}

.grid-size{
    width: 95%;
}
.search-size{
    width: 75%;
}

.input-box{
    margin-left: 5%;
}
.grid-desc-button-new{
   background: #00D9EB;
   color: white;
   border: 2px solid !important;
   border-radius: 50px;
}
.card-font{
    font-weight: 500;
}
.grid-des{
    color:gray
}
.col-background-gray{
    background:  #F6F6F6;
}
.des-header{
    width: 100%;
    color: black;
    font-size: 125%;
}

.mat-flyout{
    width: 50%;;
}

.menu-close{
    text-align: end;
}
.menu-close-icon{
    background: #00D9EB;
    height: 30px;
    width: 30px;
    font-size: 1.8em;
    color: white;
}

.flyout-content{
    height: -webkit-fill-available;
    padding: 3%;
}

.float-right{
    float: right;
}

.flyout-leftalign{
    position: absolute;
    left: 10px;
}

.flyout-rightalign{
    position: absolute;
    right: 15px;
}

.grid-desc-button-flyout{
    color: #5cd9ca;
    border: 2px solid !important;
    border-radius: 100px;
    line-height: 2;
 }
