
<mat-sidenav-container (backdropClick)="close('backdrop')" >
    <mat-sidenav class="mat-flyout" position="end" #sidenav (keydown.escape)="close('escape')" disableClose>

        <div class="menu-close">
                <span (click)="close('toggle button')" class="material-icons menu-close-icon-dus">clear</span>
        </div>
        <div class="flyout-content">
            <p class="applicant-head">
                <span>Pink Strawberry</span>
                <button mat-button class="grid-desc-button-edit-dus float-right">{{ 'EDIT_BTN' | translate }}</button>
            </p>
            <p><span class="applicant-desc">this is a sample text.this is a sample text.this is a sample text.this is a sample text.this is a sample text.this is a sample text.this is a sample text.</span></p>
            <p class="applicant-head">
                <span>{{ 'DETAILS' | translate }}</span>
            </p>

            <mat-card class="grid-properties-flyout">
                <mat-grid-list cols="4" rowHeight="50px" class="col-background-gray">
                    <mat-grid-tile class="col-background-gray" [colspan]="2" [rowspan]="1">
                        <b class="flyout-leftalign">International Reference number</b>
                    </mat-grid-tile>
                    <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">
                        <button mat-button class="grid-desc-button-flyout-dus-exchange">UPOV Prisma</button>
                    </mat-grid-tile>
                    <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">
                        <b class="flyout-rightalign">XU_2342342344567</b>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>

            <mat-card class="grid-properties-flyout">
                <mat-grid-list cols="4" rowHeight="50px" class="col-background-gray">
                    <mat-grid-tile class="col-background-gray" [colspan]="2" [rowspan]="1">
                        <b class="flyout-leftalign">Application number</b>
                    </mat-grid-tile>
                    <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">

                    </mat-grid-tile>
                    <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">
                        <b class="flyout-rightalign">2341231231</b>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>

            <mat-card class="grid-properties-flyout">
                <mat-grid-list cols="4" rowHeight="50px" class="col-background-gray">
                    <mat-grid-tile class="col-background-gray" [colspan]="2" [rowspan]="1">
                        <b class="flyout-leftalign">Application status</b>
                    </mat-grid-tile>
                    <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">

                    </mat-grid-tile>
                    <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">
                        <b class="flyout-rightalign">1</b>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>

            <mat-card class="grid-properties-flyout">
                <mat-grid-list cols="4" rowHeight="50px" class="col-background-gray">
                    <mat-grid-tile class="col-background-gray" [colspan]="2" [rowspan]="1">
                        <b class="flyout-leftalign">Submission date</b>
                    </mat-grid-tile>
                    <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">

                    </mat-grid-tile>
                    <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">
                        <b class="flyout-rightalign">13-01-2020</b>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>

            <p class="applicant-head">
                <span>{{ 'HISTORY' | translate }}</span>
            </p>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-dusexchange-header></app-dusexchange-header>

        <div class="middle-body-padding">
            <div class="div-padding">

                <br>
                <div class="applicant-head">
                    <div  class="title-box">
                        <div class="title-width">
                            <span>DUS Exchange Platform</span> <span class="notification-badge">2</span>
                            <p><span class="subtitle">this is a sample text.this is a sample text.this is a sample text.this is a sample text.this is a sample text.this is a sample text.this is a sample text.</span></p>
                        </div>

                        <div class="toggle-view-btn-box">
                            <p class="mb-0">{{ 'VIEW_BTN' | translate }}</p>
                            <div class="change-view-dus-exchange">
                            <span class="toggle-btn-icon-size material-icons">
                                view_list
                                </span>
                            </div>
                            <div class="change-view-dus-exchange ml-2" >
                                <span class="toggle-btn-icon-size material-icons">
                                view_sidebar
                                </span>
                                </div>
                        </div>
                    </div>

                </div>

                <div class="dropdown-box">


                    <div class="col-background round-corner search-btn-size">
                      <form class="search-inner">
                          <mat-form-field class="light-gray">
                            <span matPrefix>{{'SEARCH' | translate }} &nbsp;</span>
                            <mat-icon matPrefix class="search-icon">search</mat-icon>
                            <input type="text" matInput placeholder="">

                          </mat-form-field>
                      </form>
                    </div>
                    <div class="sortby-spacing">
                      <pvp-dropdown></pvp-dropdown>
                      </div>
                      <div class="playlist-icon-btn-box">

                        <div class="change-view-dus-exchange">
                          <span class="toggle-btn-icon-size material-icons">
                            playlist_play
                            </span>
                            </div>
                      </div>
                    </div>


                <br>
                <div class="grid-size">
                    <mat-card class="grid-properties grid-title">
                        <mat-grid-list cols="8" rowHeight="50px">
                            <mat-grid-tile [colspan]="1" [rowspan]="1">
                                <div class="flyout-leftalign">
                                    <mat-radio-group aria-label="Select an option">
                                        <mat-radio-button value="1"></mat-radio-button>
                                    </mat-radio-group>
                                    <span>International Reference number</span>
                                </div>

                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="1" [rowspan]="1">
                                <span>Application Number</span>
                            </mat-grid-tile>
                            <mat-grid-tile  [colspan]="1" [rowspan]="1">
                                <span>Application status</span>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="1" [rowspan]="1">
                                <span>Submission date</span>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <span>Dus exam. status</span>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="1" [rowspan]="1">
                                <span>Dus report status</span>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card>
                    <mat-card class="grid-properties" *ngFor="let gridItem of gridData; let gridIndex = index">
                        <mat-grid-list cols="8" rowHeight="50px" matBadge="4" matBadgeSize="large">

                            <mat-grid-tile class="col-background " [colspan]="1" [rowspan]="1">
                                <div class="flyout-leftalign">
                                    <mat-radio-group aria-label="Select an option">
                                        <mat-radio-button value="1"></mat-radio-button>
                                    </mat-radio-group>
                                    {{gridItem.refNo}}
                                </div>

                            </mat-grid-tile>
                            <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1"><b>{{gridItem.id}}</b></mat-grid-tile>
                            <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1"><app-progress-bar></app-progress-bar></mat-grid-tile>
                            <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1"><b>{{gridItem.submitDate}}</b></mat-grid-tile>
                            <mat-grid-tile class="col-background" [colspan]="2" [rowspan]="1"><b><app-progress-bar></app-progress-bar></b></mat-grid-tile>
                            <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1">{{gridItem.dusReportStatus}}</mat-grid-tile>
                            <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1">
                                <button (click)="sidenav.open()" mat-button class="view-button">{{ 'VIEW_BTN' | translate }}</button>&nbsp;&nbsp;
                                <div (click)="togglePanel(gridIndex)">
                                    <span class="material-icons arrow-icon" *ngIf="!gridItem.panelOpenState">
                                        keyboard_arrow_down
                                    </span>
                                    <span class="material-icons arrow-icon" *ngIf="gridItem.panelOpenState">
                                        keyboard_arrow_up
                                    </span>
                                </div>

                            </mat-grid-tile>
                        </mat-grid-list>
                        <mat-expansion-panel [expanded]="gridItem.panelOpenState">

                            <mat-grid-list cols="3" rowHeight="50px" [gutterSize]="'25px'">
                                <mat-grid-tile [colspan]="2" class="grid-des">
                                    <div class="des-header">Request for examination received.</div><br><br>
                                   <div>Application not received by: Myanmar, Malatsia</div>


                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="1">
                                    <button mat-button class="notification-btn-dus-exchange">{{ 'SEND_NOTIFICATION' | translate }}</button>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </mat-expansion-panel>
                    </mat-card>
                </div>

            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>




