<mat-sidenav-container (backdropClick)="close('backdrop')" >
  <mat-sidenav class="mat-flyout" position="end" #sidenav (keydown.escape)="close('escape')" disableClose>

    <div class="menu-close">
            <span (click)="close('toggle button')" class="material-icons menu-close-icon-pvp">clear</span>
    </div>
    <div class="flyout-content">
        <p class="applicant-head">
            <span>Pink Strawberry</span>
            <button mat-button class="grid-desc-button-edit-pvp float-right">{{ 'EDIT_BTN' | translate }}</button>
            <button mat-button class="grid-desc-button-flyout-pvp-admin float-right cancel-margin" >{{ 'CANCEL_BTN' | translate }}</button>
        </p>
        <p><span class="applicant-desc">this is a sample text.this is a sample text.this is a sample text.this is a sample text.this is a sample text.this is a sample text.this is a sample text.</span></p>
        <p class="applicant-head">
            <span>{{ 'DETAILS' | translate }}</span>
        </p>

        <mat-card class="flyout-grid-properties">
            <mat-grid-list cols="4" rowHeight="50px" class="col-background-gray">
                <mat-grid-tile class="col-background-gray" [colspan]="2" [rowspan]="1">
                    <b class="flyout-leftalign">International Reference number</b>
                </mat-grid-tile>
                <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">
                    <button mat-button class="grid-desc-button-flyout-pvp-admin">UPOV Prisma</button>
                </mat-grid-tile>
                <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">
                    <b class="flyout-rightalign">XU_2342342344567</b>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>

        <mat-card class="flyout-grid-properties">
            <mat-grid-list cols="4" rowHeight="50px" class="col-background-gray">
                <mat-grid-tile class="col-background-gray" [colspan]="2" [rowspan]="1">
                    <b class="flyout-leftalign">Application number</b>
                </mat-grid-tile>
                <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">

                </mat-grid-tile>
                <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">
                    <b class="flyout-rightalign">2341231231</b>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>

        <mat-card class="flyout-grid-properties">
            <mat-grid-list cols="4" rowHeight="50px" class="col-background-gray">
                <mat-grid-tile class="col-background-gray" [colspan]="2" [rowspan]="1">
                    <b class="flyout-leftalign">Application status</b>
                </mat-grid-tile>
                <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">

                </mat-grid-tile>
                <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">
                    <b class="flyout-rightalign">1</b>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>

        <mat-card class="flyout-grid-properties">
            <mat-grid-list cols="4" rowHeight="50px" class="col-background-gray">
                <mat-grid-tile class="col-background-gray" [colspan]="2" [rowspan]="1">
                    <b class="flyout-leftalign">Submission date</b>
                </mat-grid-tile>
                <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">

                </mat-grid-tile>
                <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">
                    <b class="flyout-rightalign">13-01-2020</b>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>

        <p class="applicant-head">
            <span>{{ 'HISTORY' | translate }}</span>
        </p>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-pvp-header></app-pvp-header>
    <div class="middle-body-padding">
      <div  class="title-box ">
      <div class="title-width">

      <h4 class="page-title">{{ 'PVP_HEAD' | translate }} <span class="notification-badge">2</span></h4>


      <p class="subtitle">Lorem ipsum dolor sit amet, duo errem senserit no. Per ut tota tibique placerat.</p>

    </div>

    <div class="toggle-view-btn-box">
    <p class="mb-0">{{ 'VIEW_BTN' | translate }}</p>
    <div class="change-view-pvp-admin" (click)="toggleViewGridMode()">
      <span class="toggle-btn-icon-size material-icons">
        view_list
          </span>

      </div>
      <div class="change-view-pvp-admin ml-2" (click)="toggleViewDetailMode()" >
        <span class="toggle-btn-icon-size material-icons">
          view_sidebar
          </span>
          </div>
    </div>
      </div>
    <div class="dropdown-box">
        <div class="col-background round-corner search-btn-size">
          <form class="search-inner">
              <mat-form-field>
                <span matPrefix>{{ 'SEARCH' | translate}} &nbsp;</span>
                <mat-icon matPrefix class="search-icon">search</mat-icon>
                <input type="text" matInput placeholder="">

              </mat-form-field>
          </form>
        </div>

        <div class="sortby-spacing">
          <pvp-dropdown></pvp-dropdown>
          </div>
          <div class="playlist-icon-btn-box">

      <div *ngIf="viewGridMode" class="change-view-pvp-admin">
        <span class="toggle-btn-icon-size material-icons">
          playlist_play
          </span>
          </div>
    </div>

    </div>
    <div class="root-container" *ngIf="viewGridMode">
      <mat-card class="grid-properties grid-title">
      <mat-grid-list  cols="8" rowHeight="50px">
          <mat-grid-tile  [colspan]="1" [rowspan]="1" class="ref-number"><mat-radio-group><mat-radio-button></mat-radio-button></mat-radio-group>International reference number</mat-grid-tile>
          <mat-grid-tile  [colspan]="1" [rowspan]="1">Application Number</mat-grid-tile>
          <mat-grid-tile  [colspan]="1" [rowspan]="1">Novelty</mat-grid-tile>
          <mat-grid-tile  [colspan]="1" [rowspan]="1">Submission date</mat-grid-tile>
          <mat-grid-tile  [colspan]="2" [rowspan]="1">Application status</mat-grid-tile>
          <mat-grid-tile  [colspan]="1" [rowspan]="1">National fees payment status</mat-grid-tile>
          <mat-grid-tile  [colspan]="1" [rowspan]="1">  </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
      <mat-card class="grid-properties" *ngFor="let gridItem of gridData; let gridIndex = index">

          <mat-grid-list cols="8" rowHeight="50px" class="grid-content">
              <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1"><mat-radio-group><mat-radio-button></mat-radio-button></mat-radio-group>{{gridItem.name}}</mat-grid-tile>
              <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1">{{gridItem.id}}</mat-grid-tile>
              <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1">{{gridItem.nameCrop}}</mat-grid-tile>
              <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1">{{gridItem.type}}</mat-grid-tile>
              <mat-grid-tile class="col-background" [colspan]="2" [rowspan]="1"><app-progress-bar></app-progress-bar></mat-grid-tile>
              <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1">{{gridItem.progress}}   <span class="material-icons">
                done
            </span></mat-grid-tile>
              <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1">
                  <button (click)="sidenav.open()" mat-button class="view-button">{{ 'VIEW_BTN' | translate}}</button>
                  <div (click)="togglePanel(gridIndex)">
                    <span class="material-icons arrow-icon" *ngIf="!gridItem.panelOpenState">
                      keyboard_arrow_down
                    </span>
                    <span class="material-icons arrow-icon" *ngIf="gridItem.panelOpenState">
                        keyboard_arrow_up
                    </span>
                  </div>

              </mat-grid-tile>
          </mat-grid-list>
          <mat-expansion-panel [expanded]="gridItem.panelOpenState">
            <div class="expand-panel-content">
            <h5>DUS Examination report available for <a class="download-link">download</a></h5>
          </div>
          <div class="expanded-panel-btn-box">
            <button mat-button class="notification-btn-pvp-admin">{{ 'SEND_NOTIFICATION' | translate }}</button>
          </div>
          </mat-expansion-panel>
      </mat-card>


    </div>

    <div class="root-container" *ngIf="viewDetailMode">
      <mat-grid-list class="grid-properties sticky-card sticky-card-column-title" cols="6" rowHeight="50px">
          <mat-grid-tile  [colspan]="1" [rowspan]="1">Submitted</mat-grid-tile>
          <mat-grid-tile  [colspan]="1" [rowspan]="1">Received</mat-grid-tile>
          <mat-grid-tile  [colspan]="1" [rowspan]="1">Formality exam completed</mat-grid-tile>
          <mat-grid-tile  [colspan]="1" [rowspan]="1">Novelty/Denomination Exam</mat-grid-tile>
          <mat-grid-tile  [colspan]="1" [rowspan]="1">DUS Examination</mat-grid-tile>
          <mat-grid-tile  [colspan]="1" [rowspan]="1">Grant Decision</mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list class="grid-properties sticky-card" cols="6" rowHeight="11rem">
        <mat-grid-tile class="sticky-card-style" [colspan]="1" [rowspan]="1">
          <p class="sticky-card-text-bold">Pink Strawberry</p>
          <p>Submitted 12-02-2020</p>
          <p>Netherlands</p>
          <p class="sticky-card-text-bold">Ref No.</p>
          <p>XU_123123123</p>
        </mat-grid-tile>
        <mat-grid-tile class="sticky-card-style" [colspan]="1" [rowspan]="1">
          <p class="sticky-card-text-bold">Pink Strawberry</p>
          <p>Submitted 12-02-2020</p>
        </mat-grid-tile>
        <mat-grid-tile class="sticky-card-style" [colspan]="1" [rowspan]="1">
          <p class="sticky-card-text-bold">Pink Strawberry</p>
          <p>Submitted 12-02-2020</p>
        </mat-grid-tile>
        <mat-grid-tile class="sticky-card-style" [colspan]="1" [rowspan]="1">
          <p class="sticky-card-text-bold">Pink Strawberry</p>
          <p>Submitted 12-02-2020</p>
          <span class="material-icons arrow-icon sticky-card-btn-position">
            done
        </span>
        </mat-grid-tile>
        <mat-grid-tile class="sticky-card-style-active" [colspan]="1" [rowspan]="1">
          <p class="sticky-card-text-bold">Pink Strawberry</p>
          <p>Submitted 12-02-2020</p>
          <button mat-button class="view-button sticky-card-btn-position">{{ 'VIEW_BTN' | translate }}</button>
        </mat-grid-tile>
        <mat-grid-tile class="sticky-card-style-nodata" [colspan]="1" [rowspan]="1">
        </mat-grid-tile>
    </mat-grid-list>
    </div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>

