<mat-sidenav-container (backdropClick)="close('backdrop')" >
  <mat-sidenav class="mat-flyout" position="end" #sidenav (keydown.escape)="close('escape')" disableClose>

    <div class="menu-close">
            <span (click)="close('toggle button')" class="material-icons menu-close-icon">clear</span>
    </div>
    <div class="flyout-content">
        <p class="applicant-head">
            <span>Pink Strawberry</span>
            <button mat-button class="grid-desc-button-new float-right">Edit</button>
            <button mat-button class="grid-desc-button-flyout float-right cancel-margin" >Cancel</button>
        </p>
        <p><span class="applicant-desc">this is a sample text.this is a sample text.this is a sample text.this is a sample text.this is a sample text.this is a sample text.this is a sample text.</span></p>
        <p class="applicant-head">
            <span>Details</span>
        </p>

        <mat-card class="grid-properties">
            <mat-grid-list cols="4" rowHeight="50px" class="col-background-gray">
                <mat-grid-tile class="col-background-gray" [colspan]="2" [rowspan]="1">
                    <b class="flyout-leftalign">International Reference number</b>
                </mat-grid-tile>
                <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">
                    <button mat-button class="grid-desc-button-flyout">UPOV Prisma</button>
                </mat-grid-tile>
                <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">
                    <b class="flyout-rightalign">XU_2342342344567</b>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>

        <mat-card class="grid-properties">
            <mat-grid-list cols="4" rowHeight="50px" class="col-background-gray">
                <mat-grid-tile class="col-background-gray" [colspan]="2" [rowspan]="1">
                    <b class="flyout-leftalign">Application number</b>
                </mat-grid-tile>
                <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">

                </mat-grid-tile>
                <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">
                    <b class="flyout-rightalign">2341231231</b>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>

        <mat-card class="grid-properties">
            <mat-grid-list cols="4" rowHeight="50px" class="col-background-gray">
                <mat-grid-tile class="col-background-gray" [colspan]="2" [rowspan]="1">
                    <b class="flyout-leftalign">Application status</b>
                </mat-grid-tile>
                <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">

                </mat-grid-tile>
                <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">
                    <b class="flyout-rightalign">1</b>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>

        <mat-card class="grid-properties">
            <mat-grid-list cols="4" rowHeight="50px" class="col-background-gray">
                <mat-grid-tile class="col-background-gray" [colspan]="2" [rowspan]="1">
                    <b class="flyout-leftalign">Submission date</b>
                </mat-grid-tile>
                <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">

                </mat-grid-tile>
                <mat-grid-tile class="col-background-gray" [colspan]="1" [rowspan]="1">
                    <b class="flyout-rightalign">13-01-2020</b>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>

        <p class="applicant-head">
            <span>History</span>
        </p>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-pvp-header></app-pvp-header>
    <div style="padding: 5rem">
      <div  style="display:flex; ">
      <div style="width:32%">

      <h4 (click)="sidenav.open()" style="  font-size: 32px;
      font-weight: 400;
      line-height: 43px;">PVP Office Administration Tool <span class="notification-badge">2</span></h4>


      <p style="font-size: 21px;
      font-weight: 400;
      line-height: 28px; opacity: 0.5;">Lorem ipsum dolor sit amet, duo errem senserit no. Per ut tota tibique placerat.</p>

    </div>

    <div style="width: 68%;
    text-align: right;">
    <p style="margin-bottom: 0;">View</p>
    <div class="change-view-button" (click)="toggleViewGridMode()">
      <span style="font-size: 2rem" class="material-icons">
        view_list
          </span>
      </div>
      <div class="change-view-button ml-2" (click)="toggleViewDetailMode()" >
        <span style="font-size: 2rem" class="material-icons">
          view_sidebar
          </span>
          </div>
    </div>
      </div>
    <div style="width: 100%; display: flex; margin-bottom: 1.5rem;">


        <div class="col-background round-corner" style="width: 30%; height: 3rem;">
          <form style="padding: 0px 27px; opacity: 0.2;">
              <mat-form-field>
                <span matPrefix>Search &nbsp;</span>
                <mat-icon matPrefix class="search-icon">search</mat-icon>
                <input type="text" matInput placeholder="">

              </mat-form-field>
          </form>
        </div>

        <div class="" style="width: 20%; height: 3rem; margin-left: 1rem;">

            <div class="dropdown">
              <button class="btn btn-block chrome dropdown-toggle background-white br-100 dropdown-toggle
                             text-left" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                <span class="fontClr3">
                  Select
                </span>
              </button>
              <div class="dropdown-menu dropdown-shadow-effect" aria-labelledby="dropdownMenuButton">

                <button class="dropdown-item" type="button" >xyz</button>
              </div>
            </div>
          </div>
          <div style="width: 70%;
    text-align: right;">
<!--
      <div style="display: inline-block;
      height: 2.5rem;
      width: 2.5rem;
      background-color: #fff;
      text-align: center;
      padding: 4px;
      border-radius: 5px; margin-left: 0.5rem;">
        <span style="font-size: 2rem" class="material-icons">
          playlist_play
          </span>
          </div> -->
    </div>

    </div>
    <div class="root-container" *ngIf="viewGridMode">
      <mat-card class="grid-properties" style="margin-bottom: 1rem;
      background-color: transparent;
      box-shadow: none; font-size: 15px;
      font-weight: 500;
      line-height: 20px;  color: rgba(0,0,0,0.5);">
      <mat-grid-list  cols="8" rowHeight="50px">
        <!-- <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1">
        <mat-radio-group><mat-radio-button></mat-radio-button></mat-radio-group>
      </mat-grid-tile> -->
          <mat-grid-tile  [colspan]="1" [rowspan]="1" class="ref-number" style=""><mat-radio-group><mat-radio-button></mat-radio-button></mat-radio-group>International reference number</mat-grid-tile>
          <mat-grid-tile  [colspan]="1" [rowspan]="1">Application Number</mat-grid-tile>
          <mat-grid-tile  [colspan]="1" [rowspan]="1">Novelty</mat-grid-tile>
          <mat-grid-tile  [colspan]="1" [rowspan]="1">Submission date</mat-grid-tile>
          <mat-grid-tile  [colspan]="2" [rowspan]="1">Application status</mat-grid-tile>
          <mat-grid-tile  [colspan]="1" [rowspan]="1">National fees payment status</mat-grid-tile>
          <mat-grid-tile  [colspan]="1" [rowspan]="1">  </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
      <mat-card class="grid-properties" *ngFor="let gridItem of gridData; let gridIndex = index">

          <mat-grid-list cols="8" rowHeight="50px" style="  font-size: 13px;
          font-weight: 500;
          line-height: 17px;">
            <!-- <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1">
            <mat-radio-group><mat-radio-button></mat-radio-button></mat-radio-group>
          </mat-grid-tile> -->
              <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1"><mat-radio-group><mat-radio-button></mat-radio-button></mat-radio-group>{{gridItem.name}}</mat-grid-tile>
              <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1">{{gridItem.id}}</mat-grid-tile>
              <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1">{{gridItem.nameCrop}}</mat-grid-tile>
              <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1">{{gridItem.type}}</mat-grid-tile>
              <mat-grid-tile class="col-background" [colspan]="2" [rowspan]="1"><app-progress-bar></app-progress-bar></mat-grid-tile>
              <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1">{{gridItem.progress}}   <span class="material-icons">
                done
            </span></mat-grid-tile>
              <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1" (click)="togglePanel(gridIndex)">
                  <button mat-button class="view-button">View</button>
                  <span class="material-icons arrow-icon" *ngIf="!gridItem.panelOpenState">
                      keyboard_arrow_down
                  </span>
                  <span class="material-icons arrow-icon" *ngIf="gridItem.panelOpenState">
                      keyboard_arrow_up
                  </span>
              </mat-grid-tile>
          </mat-grid-list>
          <mat-expansion-panel [expanded]="gridItem.panelOpenState">
            <div style="display: flex; margin-top: 1rem">
            <h5 style=" font-size: 21px;
            font-weight: 400;
            line-height: 28px;">DUS Examination report available for <a style="font-weight: normal;">download</a></h5>
          </div>
          <div style="    width: 100%;
          text-align: right;">
            <button mat-button class="grid-desc-button" style="background-color: #3652FF;
            color: white;
            border-radius: 50px;

      font-weight: 400;
      line-height: 28px;
        ">Send notification</button>
          </div>
          </mat-expansion-panel>
      </mat-card>


    </div>

    <div class="root-container" *ngIf="viewDetailMode">
      <mat-grid-list class="grid-properties sticky-card" cols="6" rowHeight="50px" style="margin-bottom: 1rem;
      background-color: transparent;
      box-shadow: none; font-weight: 600;
        font-size: 85%;" >
          <mat-grid-tile  [colspan]="1" [rowspan]="1">Submitted</mat-grid-tile>
          <mat-grid-tile  [colspan]="1" [rowspan]="1">Received</mat-grid-tile>
          <mat-grid-tile  [colspan]="1" [rowspan]="1">Formality exam completed</mat-grid-tile>
          <mat-grid-tile  [colspan]="1" [rowspan]="1">Novelty/Denomination Exam</mat-grid-tile>
          <mat-grid-tile  [colspan]="1" [rowspan]="1">DUS Examination</mat-grid-tile>
          <mat-grid-tile  [colspan]="1" [rowspan]="1">Grant Decision</mat-grid-tile>
      </mat-grid-list>
    <!-- </mat-card> -->
      <!-- <mat-card class="grid-properties"> -->

          <mat-grid-list class="grid-properties sticky-card" cols="6" rowHeight="11rem">
              <mat-grid-tile class="sticky-card-style" [colspan]="1" [rowspan]="1">
                <p style="display: block; font-weight: 600;">Pink Strawberry</p>
                <p style="display: block;">Submitted 12-02-2020</p>
                <p style="display: block;">Netherlands</p>
                <p style="display: block; font-weight: 600;">Ref No.</p>
                <p>XU_123123123</p>
              </mat-grid-tile>
              <mat-grid-tile class="sticky-card-style" [colspan]="1" [rowspan]="1">
                <p style="display: block; font-weight: 600;">Pink Strawberry</p>
                <p style="display: block;">Submitted 12-02-2020</p>
              </mat-grid-tile>
              <mat-grid-tile class="sticky-card-style" [colspan]="1" [rowspan]="1">
                <p style="display: block; font-weight: 600;">Pink Strawberry</p>
                <p style="display: block;">Submitted 12-02-2020</p>
              </mat-grid-tile>
              <mat-grid-tile class="sticky-card-style" [colspan]="1" [rowspan]="1">
                <p style="display: block; font-weight: 600;">Pink Strawberry</p>
                <p style="display: block;">Submitted 12-02-2020</p>
                <span class="material-icons arrow-icon sticky-card-btn-position">
                  done
              </span>
              </mat-grid-tile>
              <mat-grid-tile class="sticky-card-style-active" [colspan]="1" [rowspan]="1">
                <p style="display: block; font-weight: 600;">Pink Strawberry</p>
                <p style="display: block;">Submitted 12-02-2020</p>
                <button mat-button class="view-button sticky-card-btn-position">View</button>
              </mat-grid-tile>
              <mat-grid-tile class="sticky-card-style-nodata" [colspan]="1" [rowspan]="1">
              </mat-grid-tile>
          </mat-grid-list>
      <!-- </mat-card> -->


    </div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>

