
<mat-toolbar class="pvp-platform-header-nav">

  <mat-icon class="header-app-icon">apps</mat-icon>
<span class="header-title">PVP Platform</span>

<span class="header-sections"><mat-icon class="header-section-icons">add</mat-icon> Applications</span>

<span class="header-sections"> <mat-icon class="header-section-icons">north</mat-icon> Bulk upload</span>

<span class="header-sections"> <mat-icon class="header-section-icons">person</mat-icon>Manage user role</span>

<span class="header-sections">
<span class="header-office-procedure-pvp-platform"><mat-icon class="header-section-icons">error_outline</mat-icon> PVP office procedure</span>
</span>
<span>
  <span class="header-user-box">Daniel Janus
<span><img class="header-user-img" src="./assets/image/screen-4.jpg"></span>
</span>
<span class="header-country">NL</span>
</span>



</mat-toolbar>
<div class="header-img-pvp-platform">
</div>
