<div class="dropdown">
    <button class="btn btn-block chrome dropdown-toggle background-white br-100 dropdown-toggle
                   text-left" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

      <span class="fontClr3">
        Sort by:
      </span>
    </button>
    <div class="dropdown-menu dropdown-shadow-effect" aria-labelledby="dropdownMenuButton">
      <button class="dropdown-item" type="button" >test</button>
    </div>
  </div>
