// COLOUR PALETTE


$pvp-admintool-blue: #3652FF;
$pvp-admintool-dark-blue: #a9baff;
$pvp-applicant-monitoring-theme-green: #00C5AE;
$pvp-applicant-monitoring-dark-green: #008272;
$pvp-dus-exchange-theme-green: #01d7f0;
$pvp-dus-exchange-dark-green: #00acc8;
$pvp-platform-theme-purple: #6a37ff;
$pvp-platform-pink: #b0a9ff;
$pvp-white: #ffffff;
$pvp-black: #000000;
$pvp-body-background-grey: #f6f6f6;
$pvp-sticky-card-background-grey: #eee;
$progress-bar-green: #8ed464;
$progress-bar-grey: #d8d8d8;
$pvp-noification-brick-red: #F96656;
$pvp-noification-blue: #3559FF;
