// COLOUR PALETTE
// use should not use these directly, please use colours from the usages section below

$pvp-admintool-blue: #3652FF;
$pvp-admintool-dark-blue: #425AFF;
$pvp-grey-light: #d8d8d8;
$pvp-white: #ffffff;
$pvp-black: #000000;
