
<mat-toolbar style="background-color: #00D8ED; color: #fff; padding:.8rem 6rem;">

    <mat-icon style="font-size: 2.5rem;
    color: #fff;
    width: 3rem; margin-bottom:.8rem;">apps</mat-icon>
  <span style="font-size: 1.5rem;
  width: 30%;
  word-wrap: break-word !important;
  display: flex;
  flex-wrap: wrap;">DUS Exchange Platform</span>

  <span style="font-size:.8rem;
  width: 17%; display: flex;"><mat-icon style="width: 2rem; margin-top: 0.4rem; font-size:18px">add</mat-icon> Applications</span>

  <span style="font-size:.8rem;
  width: 17%; display: flex;"> <mat-icon style="width: 2rem; margin-top: 0.4rem; font-size:18px">north</mat-icon> Bulk upload</span>

  <span style="font-size:.8rem;
  width: 17%; display: flex;"> <mat-icon style="width: 2rem; margin-top: 0.4rem; font-size:18px">person</mat-icon>Manage user role</span>

  <span style="font-size:.8rem;
  width: 17%; display: flex;">
  <span style="border-radius: 100px;
  background-color: #008273; display: flex;
    padding: 0.1rem 0.4rem;"><mat-icon style="width: 2rem; margin-top: 0.4rem; font-size:21px">error_outline</mat-icon> DUS Exchange</span>
  </span>
  <span style="margin-left: 5%;">
    <span style="font-size:.8rem;
    width: 17%;">Daniel Janus
  <span><img style="height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-left:.8rem;" src="./assets/image/screen-4.jpg"></span>
  </span>
  <span style="width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid;
  margin-left:.8rem;
  padding: 0.3rem;">NL</span>

  </span>



</mat-toolbar>
<div class="background-image-header">
</div>
