<div class="middle-body-padding">
                <div class="title-box ">

                        <div class="title-width">
                            <h4 class="page-title">DUS Exchange Platform <span class="notification-badge">2</span></h4>
                            <p><span class="applicant-desc">this is a sample text.this is a sample text.this is a sample text.this is a sample text.this is a sample text.this is a sample text.this is a sample text.</span></p>
                        </div>

                        <div style="width: 50%;
                            text-align: right;">
                            <p style="margin-bottom: 0;">{{ 'VIEW_BTN' | translate }}</p>
                            <div class="change-view-button">
                            <span style="font-size: 2rem" class="material-icons">
                                view_list
                                </span>
                            </div>
                            <div class="change-view-button ml-2" >
                                <span style="font-size: 2rem" class="material-icons">
                                view_sidebar
                                </span>
                                </div>
                        </div>
                </div>

                <div style="display: flex; margin-bottom: 1.5rem;">


                    <div class="col-background round-corner" style="width: 70%; height: 3rem;">
                      <form style="padding: 0px 27px;">
                          <mat-form-field class="light-gray">
                            <span matPrefix>{{'SEARCH' | translate }} &nbsp;</span>
                            <mat-icon matPrefix class="search-icon">search</mat-icon>
                            <input type="text" matInput placeholder="">

                          </mat-form-field>
                      </form>
                    </div>

                    <div class="" style="width: 30%; height: 3rem; margin-left: 1rem;">
                      <div class="dropdown">
                        <button class="btn btn-block chrome dropdown-toggle background-white br-100 dropdown-toggle
                                       text-left" type="button" id="dropdownMenuButton"
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                          <span class="fontClr3">
                            Select
                          </span>
                        </button>
                        <div class="dropdown-menu dropdown-shadow-effect" aria-labelledby="dropdownMenuButton">

                          <button class="dropdown-item" type="button" >xyz</button>
                        </div>
                      </div>
                      </div>
                      <div style="width: 70%;text-align: right;">

                        <div style="display: inline-block;
                        height: 2.5rem;
                        width: 2.5rem;
                        background-color: #fff;
                        text-align: center;
                        padding: 4px;
                        border-radius: 5px; margin-left: 0.5rem;">
                            <span style="font-size: 2rem" class="material-icons">
                            playlist_play
                            </span>
                            </div>
                      </div>
                    </div>


                <br>
                <div class="grid-size">
                    <mat-card class="grid-properties back-transparent">
                        <mat-grid-list cols="8" rowHeight="50px" class="back-transparent">
                            <mat-grid-tile class="back-transparent" [colspan]="1" [rowspan]="1">
                                <div class="flyout-leftalign">
                                    <mat-radio-group aria-label="Select an option">
                                        <mat-radio-button value="1"></mat-radio-button>
                                    </mat-radio-group>
                                    <span>International Reference number</span>
                                </div>

                            </mat-grid-tile>
                            <mat-grid-tile class="back-transparent" [colspan]="1" [rowspan]="1">
                                <span>Application Number</span>
                            </mat-grid-tile>
                            <mat-grid-tile class="back-transparent" [colspan]="1" [rowspan]="1">
                                <span>Application status</span>
                            </mat-grid-tile>
                            <mat-grid-tile class="back-transparent" [colspan]="1" [rowspan]="1">
                                <span>Submission date</span>
                            </mat-grid-tile>
                            <mat-grid-tile class="back-transparent" [colspan]="2" [rowspan]="1">
                                <span>Dus exam. status</span>
                            </mat-grid-tile>
                            <mat-grid-tile class="back-transparent" [colspan]="1" [rowspan]="1">
                                <span>Dus report status</span>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card>
                    <mat-card class="grid-properties" *ngFor="let gridItem of gridData; let gridIndex = index">
                        <mat-grid-list cols="8" rowHeight="50px" matBadge="4" matBadgeSize="large">

                            <mat-grid-tile class="col-background " [colspan]="1" [rowspan]="1">
                                <div class="flyout-leftalign">
                                    <mat-radio-group aria-label="Select an option">
                                        <mat-radio-button value="1"></mat-radio-button>
                                    </mat-radio-group>
                                    {{gridItem.refNo}}
                                </div>

                            </mat-grid-tile>
                            <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1"><b>{{gridItem.id}}</b></mat-grid-tile>
                            <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1"><app-progress-bar></app-progress-bar></mat-grid-tile>
                            <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1"><b>{{gridItem.submitDate}}</b></mat-grid-tile>
                            <mat-grid-tile class="col-background" [colspan]="2" [rowspan]="1"><b><app-progress-bar></app-progress-bar></b></mat-grid-tile>
                            <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1">{{gridItem.dusReportStatus}}</mat-grid-tile>
                            <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1">
                                <button (click)="sidenav.open()" mat-button class="view-button">{{ 'VIEW_BTN' | translate }}</button>&nbsp;&nbsp;
                                <div (click)="togglePanel(gridIndex)">
                                    <span class="material-icons arrow-icon" *ngIf="!gridItem.panelOpenState">
                                        keyboard_arrow_down
                                    </span>
                                    <span class="material-icons arrow-icon" *ngIf="gridItem.panelOpenState">
                                        keyboard_arrow_up
                                    </span>
                                </div>

                            </mat-grid-tile>
                        </mat-grid-list>
                        <mat-expansion-panel [expanded]="gridItem.panelOpenState">

                            <mat-grid-list cols="3" rowHeight="50px" [gutterSize]="'25px'">
                                <mat-grid-tile [colspan]="2" class="grid-des">
                                    <div class="des-header">Request for examination received.</div><br><br>
                                   <div>Application not received by: Myanmar, Malatsia</div>


                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="1">
                                    <button mat-button class="grid-desc-button-new">{{ 'SEND_NOTIFICATION' | translate }}</button>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </mat-expansion-panel>
                    </mat-card>
                </div>

            </div>
