/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body
{ margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f6f6f6;}

.background-image {
  background: url("./assets/image/pvp-admin-tool.png");
  width: 100%;
  height: 12rem;
  &:before {
    content: '';
    position: absolute;
    height: 12.1rem;
    top: 62px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    background: #3652FF;
  }
}

.background-image-pvp-platform {
  background: url("./assets/image/Data-monitor-2.png");
  width: 100%;
  height: 12rem;
  &:before {
    content: '';
    position: absolute;
    height: 12.1rem;
    top: 62px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    background: #6a37ff;
  }
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white !important;
}

.mat-form-field-underline {
   width: 0% !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 50px !important;
  padding: 0px 4% !important;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}

.grid-properties{
  font-size: 75%;
  padding: 0 !important;
  margin-bottom: 2rem;
}

.background-image-header{
  background: url("./assets/image/Group-4.png");
  width: 100%;
  height: 12rem;
  &:before {
    content: '';
    position: absolute;
    height: 12.1rem;
    top: 62px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    //background: #3652FF;
  }
}

.dus-background-image-header{
  background: url("./assets/image/dus-background.png");
  width: 100%;
  height: 12rem;
  &:before {
    content: '';
    position: absolute;
    height: 12.1rem;
    top: 62px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    background: #00D8ED;
  }
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent;
}

.mat-grid-tile {
  display: block;
  position: absolute;
  overflow: inherit !important;
}

.mat-badge-content {
  color: #fff;
  background: #345FF5;
  font-weight: 400 !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #000000 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #345FF5;
}

.mat-radio-container {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 14px !important;
  flex-shrink: 0;
}

.mat-select-arrow {
  margin: 11px 4px 2px !important;
}

.root-container {
  width: 100%;

}

.mat-form-field-flex {
  align-items: center !important;
}

.mat-form-field {
  line-height: unset !important;
}

.mat-badge-medium .mat-badge-content {
  width: 28px !important;
  height: 28px !important;
  line-height: 28px !important;
  font-size: 22px !important;
  font-weight: normal !important;
}

.ref-number {
  left: 63px !important;
  width: 10rem !important;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}

.dropdown-shadow-effect {
  -webkit-box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:     0px 8px 16px 0px rgba(0,0,0,0.2);  /* Firefox 3.5 - 3.6 */
  box-shadow:          0px 8px 16px 0px rgba(0,0,0,0.2);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  width: 90%;
}

.firefox.dropdown-toggle::after {
  text-align: right;
  float: right;
  /*Firefox fix*/
  margin-top: -12px;
}

.chrome.dropdown-toggle::after {
  text-align: right;
  float: right;
  margin-top: 8px;
  margin-left: 0;
}

.background-white {
  background: #ffffff;
  border-radius: 100px;
  padding: 10px;
}

.sticky-card {
  background: #eee;
}

.sticky-card>div>.mat-grid-tile>.mat-figure {
  display: block !important;
  padding: 1rem;
}

.sticky-card-style {
  background: #eeeeee;
}
.sticky-card-style-active {
  background: #ffffff;
}

.sticky-card-style-nodata {
  background: transparent;
}

.sticky-card-btn-position {
  position: absolute !important;
  bottom: 1rem;
  right: 1rem;
}

.change-view-button {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #fff;
  text-align: center;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid transparent;

  &:hover, &:focus, &:active {
    border: 2px solid #345FF5;
  }
}

.change-view-pvp-platform {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #fff;
  text-align: center;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid transparent;

  &:hover, &:focus, &:active {
    border: 2px solid #6a37ff;
}
}

.progress-bar {
  width: 7px;
  height: 7px;
  transform: scaleY(-1); display: inline-block;margin-right: 0.5rem;
  border-radius: 100%;
}

.progress-bar-green {
  background: #8ed464;
}

.progress-bar-grey {
  background: #d8d8d8;
}
