<!-- <app-header></app-header> -->
<app-applicant-header></app-applicant-header>
<div class="root-container">
    <div class="div-padding">

        <div class="box-margin">
            <mat-grid-list  cols="8" rowHeight="1:1" [gutterSize]="'15px'">
                <mat-grid-tile matBadge="4"  class="grid-col-border"  [colspan]="1" [rowspan]="1" >
                    UPOV Prisma
                </mat-grid-tile>
                <mat-grid-tile class="grid-col-border" [colspan]="1" [rowspan]="1">
                    Monitoring
                </mat-grid-tile>
                <mat-grid-tile class="grid-col-border" [colspan]="1" [rowspan]="1">
                    DART
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <br>
        <p class="applicant-head"><span>Aplicant Monitoring</span></p>
        <p><span class="applicant-desc">this is a sample text.this is a sample text.this is a sample text.this is a sample text.this is a sample text.this is a sample text.this is a sample text.</span></p>


        <div style="width: 100%; display: flex; margin-bottom: 1.5rem;">


          <div class="col-background round-corner" style="width: 70%; height: 3rem;">
            <form style="padding: 0px 27px;">
                <mat-form-field>
                  <span matPrefix>Search &nbsp;</span>
                  <mat-icon matPrefix class="search-icon">search</mat-icon>
                  <input type="text" matInput placeholder="">

                </mat-form-field>
            </form>
          </div>

          <div class="" style="width: 20%; height: 3rem; margin-left: 1rem;">
            <div class="dropdown">
              <button class="btn btn-block chrome dropdown-toggle background-white br-100 dropdown-toggle
                             text-left" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                <span class="fontClr3">
                  Select
                </span>
              </button>
              <div class="dropdown-menu dropdown-shadow-effect" aria-labelledby="dropdownMenuButton">

                <button class="dropdown-item" type="button" >xyz</button>
              </div>
            </div>
            </div>
          </div>
        <p class="applicant-head"><span>Notifications</span>
           <span class="notification-badge">2</span>
        </p>
        <br>
        <div class="grid-size">
            <mat-card class="grid-properties" style="font-weight: 600" *ngFor="let gridItem of gridData; let gridIndex = index">
                <mat-grid-list cols="6" rowHeight="50px">
                    <!-- <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1">{{gridItem.name}}</mat-grid-tile> -->
                    <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1"><span style="margin-right: 10px; font-weight: 500;">{{gridItem.name}}</span>{{gridItem.id}}</mat-grid-tile>
                    <!-- <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1">{{gridItem.nameCrop}}</mat-grid-tile> -->
                    <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1"><span style="margin-right: 10px; font-weight: 500;">{{gridItem.nameCrop}}</span>{{gridItem.type}}</mat-grid-tile>
                    <mat-grid-tile class="col-background" [colspan]="2" [rowspan]="1">{{gridItem.aStatus}}</mat-grid-tile>
                    <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1">{{gridItem.progress}}</mat-grid-tile>
                    <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1" (click)="togglePanel(gridIndex)">
                        <button mat-button class="view-button">View</button>
                        <span class="material-icons arrow-icon" *ngIf="!gridItem.panelOpenState">
                            keyboard_arrow_down
                        </span>
                        <span class="material-icons arrow-icon" *ngIf="gridItem.panelOpenState">
                            keyboard_arrow_up
                        </span>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-expansion-panel [expanded]="gridItem.panelOpenState">

                    <div style="display: flex; margin-top: 1rem">
                      <p>Payment fee for multiple countries done.</p>
                     <div style="    width: 70%;
                    text-align: right;">
                     <button mat-button class="grid-desc-button">Go to application</button>
                    </div>
                    </div>

                </mat-expansion-panel>
            </mat-card>
        </div>

    </div>
</div>


