
.root-container{
    background: #e4e4e4;
    width: 60%;
    padding: 1%;
}

.col-background{
    background: white;
}  
.grid-properties{
    margin-bottom: 5px;
    font-size: 75%;
    padding: 0;
}
.view-button{
    background: lightgray;
    color: black;
    border-radius: 50px;
    line-height: 2;
}
.arrow-icon{
    background: black;
    color: white;
    border-radius: 100px;
}