
.root-container{
    background: #e4e4e4;
    width: 100%;
}
.div-padding{
    padding: 3%;
}
.col-background{
    background: white;
}  
.grid-properties{
    margin-bottom: 5px;
    font-size: 75%;
    padding: 0;
}
.view-button{
    background: lightgray;
    color: black;
    border-radius: 50px;
    line-height: 2;
}
.arrow-icon{
    background: black;
    color: white;
    border-radius: 100px;
}
.applicant-desc{
    font-size: 80%;
    color: gray;
}
.applicant-head{
    font-size: 125%;
    margin-bottom: 0px;
    font-weight: 400;
}
.notification-badge{
    background: blue;
    padding: 1px 8px;
    border-radius: 50px;
    color: white;
    margin-left: 10px;
}

.search-icon{
    font-size: 100%;
    vertical-align: top;
}
.round-corner{
    border-radius: 50px;;
}

.example-full-width {
    width: 100%;
}
.example-form {
    width: 100%;
    padding: 0px 4%;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white !important;
}