
<app-applicant-header></app-applicant-header>
<div class="middle-body-padding">
    <div class="div-padding">

        <div class="box-margin">
            <mat-grid-list  cols="8" rowHeight="1:1" [gutterSize]="'15px'">
                <mat-grid-tile matBadge="4" matBadgeSize="large"  class="grid-col-border card-font"  [colspan]="1" [rowspan]="1" >
                  {{ 'UPOV_PRISMA' | translate}}
                </mat-grid-tile>
                <mat-grid-tile class="grid-col-border card-font" [colspan]="1" [rowspan]="1">
                  {{ 'MONITORING' | translate}}
                </mat-grid-tile>
                <mat-grid-tile class="grid-col-border card-font" [colspan]="1" [rowspan]="1">
                  {{ 'DART' | translate}}
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <br>
        <div class="title-width">
        <p class="page-title"><span>{{ 'APPLICANT_MONITORING' | translate}}</span></p>
        <p><span class="subtitle">{{ 'APPLICANT_DESC' |  translate}}</span></p>
      </div>

          <div class="dropdown-box">


            <div class="col-background round-corner search-btn-size-app-monitoring">
              <form class="search-inner">
                  <mat-form-field class="light-gray">
                    <span matPrefix>{{'SEARCH' | translate }} &nbsp;</span>
                    <mat-icon matPrefix class="search-icon">search</mat-icon>
                    <input type="text" matInput placeholder="">

                  </mat-form-field>
              </form>
            </div>
            <div class="sortby-spacing">
              <pvp-dropdown></pvp-dropdown>
              </div>
            </div>
        <p class="applicant-head"><span>{{ 'NOTIFICATION' | translate }}</span>
           <span class="notification-badge">2</span>
        </p>
        <br>
        <div class="w-75">
            <mat-card class="grid-properties text-bold"  *ngFor="let gridItem of gridData; let gridIndex = index">
                <mat-grid-list cols="6" rowHeight="50px">
                    <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1"><span class="app-monitoring-grid-text-light">{{gridItem.name}}</span>{{gridItem.id}}</mat-grid-tile>
                    <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1"><span class="app-monitoring-grid-text-light">{{gridItem.nameCrop}}</span>{{gridItem.type}}</mat-grid-tile>
                    <mat-grid-tile class="col-background" [colspan]="2" [rowspan]="1">{{gridItem.aStatus}}</mat-grid-tile>
                    <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1"><app-progress-bar></app-progress-bar></mat-grid-tile>
                    <mat-grid-tile class="col-background" [colspan]="1" [rowspan]="1" (click)="togglePanel(gridIndex)">
                        <button mat-button class="view-button">{{ 'VIEW_BTN' | translate }}</button>&nbsp;&nbsp;
                        <span class="material-icons arrow-icon" *ngIf="!gridItem.panelOpenState">
                            keyboard_arrow_down
                        </span>
                        <span class="material-icons arrow-icon" *ngIf="gridItem.panelOpenState">
                            keyboard_arrow_up
                        </span>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-expansion-panel [expanded]="gridItem.panelOpenState">

                    <div class="expand-panel-content">
                      <p class="grey-text">Payment fee for multiple countries done.</p>
                     <div class="expanded-panel-btn-box w-75">
                     <button mat-button class="notification-btn-app-monitoring">{{ 'APPLICATION_BTN' | translate }}</button>
                    </div>
                    </div>
                </mat-expansion-panel>
            </mat-card>
        </div>

    </div>
</div>


